*.class
dist/*
.idea
.DS_Store
/.metadata/
*.jar
*.classpath
*.project
.gradle
src/tmp/*
doc/*
*.tex
*.aux
*.log
*.gz
out/production/SuperFortranLexicAnalizer/tmp/*
out/production/SuperFortranLexicAnalizer/META-INFO/MANIFEST.MF
